<% @page.each do |w| %>
    <li><h4><%=w.user.email%></h4> 
    <div class="well">
        <%=w.content%>
    </div>
    
    <div class="edit&delete" align="right">
        <a href="/edit?id=<%=w.id%>">edit</a>
        <a href="/destroy?id=<%=w.id%>">delete</a>
    </div>
<% end %>